@mixin rounded_corners($unit) {
    border-radius: $unit;
    -moz-border-radius: $unit;
    -webkit-border-radius: $unit;
}

@mixin transform($transformation) {
    transform:$transformation;
    -ms-transform:$transformation;
    -webkit-transform:$transformation;
    -o-transform:$transformation;
    -moz-transform:$transformation;
}

@mixin transform-origin($transformation) {
    transform-origin:$transformation;
    -ms-transform-origin:$transformation;
    -webkit-transform-origin:$transformation;
    -o-transform-origin:$transformation;
    -moz-transform-origin:$transformation;
    -webkit-transform-origin:$transformation;
}
