
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Mixins
@import "mixins";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Formstone
@import "node_modules/formstone/dist/css/upload";

// Jquery UI
@import 'node_modules/jquery-ui/themes/base/core';
@import 'node_modules/jquery-ui/themes/base/theme';
@import 'node_modules/jquery-ui/themes/base/autocomplete';
@import 'node_modules/jquery-ui/themes/base/tabs';
@import 'node_modules/froala-editor/css/froala_editor';
@import 'node_modules/cropperjs/dist/cropper';

// Application
img {
    max-height: 200px;
    max-width: 100%;
}

.search-form {
    position: relative;
    width:50%;
    margin:0 auto;
    z-index: 1;
}

.center {
    text-align: center;
}

.home_background {
    position:absolute;
    top:51px;
    bottom:0;
    left:0;
    right:0;
}

.ui-helper-hidden-accessible {
    display:none;
}

.ui-autocomplete {
    list-style: none;
    padding: 7px;
    z-index: 1;
    background: rgb(255, 255, 255);
    border: thin solid rgb(204, 208, 210);
    @include rounded_corners(4px);
}

.image-drop {
    text-align: center;
    height: auto;
    padding:10px inherit !important;
    border-style: dashed;
}

@media (min-width: $screen-sm-min) {
    #app>.row-fluid {
        padding: 0 $standard-padding;
    }
}
