
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Mixins
@import "mixins";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Formstone
@import "node_modules/formstone/dist/css/upload";

// FontAwesome
@import "node_modules/font-awesome/scss/font-awesome";

// Jquery UI
@import 'node_modules/jquery-ui/themes/base/core';
@import 'node_modules/jquery-ui/themes/base/theme';
@import 'node_modules/jquery-ui/themes/base/autocomplete';
@import 'node_modules/jquery-ui/themes/base/tabs';
@import 'node_modules/cropperjs/dist/cropper';
@import 'node_modules/tinymce/skins/lightgray/skin.min';
@import 'node_modules/tinymce/skins/lightgray/content.min';

// Application
img {
    max-height: 200px;
    max-width: 100%;
}

label {
    font-weight: normal;
    font-family: Raleway, sans-serif;
    color: #636b6f;
}

ul {
    list-style: none;
}

td.actions * {
    display:inline;
    a {
        margin: 0 $standard-link-margin;
    }
}

li.list-container > * {
    margin-left: $search-dimension + $standard-margin;
}

li.list-container {
    height: $search-dimension;

    img {
        position: absolute;
        margin: 0;
    }
}

.float-left {
    float: left;
}

.clearfix {
    clear: both;
}

.message {
    position: absolute;
    z-index: 1;
    padding: $standard-padding;
    margin-bottom: $standard-margin;
    @include rounded_corners($rounded-corner-radius);
}

.message.bg-success {
    border: thin solid green;
    color: green;
}

.search-form {
    position: relative;
    width:50%;
    margin:0 auto;
    z-index: 1;
}

.center {
    text-align: center;
}

.standard-margin-bottom {
    margin-bottom: $standard-margin;
}

.home_background {
    position:absolute;
    top:51px;
    bottom:0;
    left:0;
    right:0;
}

.ui-helper-hidden-accessible {
    display:none;
}

.ui-autocomplete {
    list-style: none;
    padding: 7px;
    z-index: 1;
    background: rgb(255, 255, 255);
    border: thin solid rgb(204, 208, 210);
    @include rounded_corners($rounded-corner-radius);
}

.image-drop {
    text-align: center;
    height: auto;
    padding:$standard-padding inherit !important;
    border-style: dashed;
}

.mce-tinymce {
    @include rounded_corners($rounded-corner-radius);
}

.table-users, .table-badges {
    tr > td {
        > a, > form > a {
           line-height: 100px;
       }
    }
}

a.fa-plus {
    text-decoration: none;
    color: $add-color;
}

a.fa-times {
    text-decoration: none;
    color: $delete-color;
}

a.fa-pencil-square-o {
    text-decoration: none;
    color: $edit-color;
}

@media (min-width: $screen-sm-min) {
    #app>.row-fluid {
        padding: 0 $standard-padding;
    }
}
