
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Mixins
@import "mixins";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Jquery UI
@import 'node_modules/jquery-ui/themes/base/base';
@import 'node_modules/jquery-ui/themes/base/theme';
@import 'node_modules/jquery-ui/themes/base/autocomplete';

body, #app {
    min-height: 100vh;
}

nav {
    margin: 0;
}

header h1 {
    text-align: center;
    margin: 0;
}

header, aside, section, footer {
    padding: $standard-padding;
}

aside, section {
    float: left;
    ul {
        padding:0;
        list-style: none;
    }
}

.ui-helper-hidden-accessible {
    display:none;
}

// Application
.ui-autocomplete {
    list-style: none;
    padding: 7px;
    z-index: 1;
    background: rgb(255, 255, 255);
    border: thin solid rgb(204, 208, 210);
    @include rounded_corners(4px);
}
